/.externalToolBuilders
/.settings
/target
/.classpath
/.project
/src/main/resources/rebel.xml
/pje.eml
/pje.iml
/.idea
/.vscode
/out
/overlays
/bin/
*.iml
pje.env
/docker_config/
/jboss_config/
/.metadata/
*.versionsBackup
